/*palette*/
:root {
    --tobo-green: #64C0A9;
    --tobo-button: #45ABEA;
    --tobo-dark: #474B54;

    --tobo-blu: #47ADF1;
    --tobo-violet: #9C72E4;
    --tobo-lime: #B0C926;
    --tobo-pink: #D863A1;
    --tobo-red: #EB5952;
    --tobo-orange: #F29E33;
    --tobo-lightgrey: #F6F8F9;
    --tobo-grey: #C5CBD0;
    --tobo-white: #FFFFFF;
    --tobo-black: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--tobo-lightgrey);
}

#site_header {
    background-color: var(--tobo-white);
}

.site_name {
    font-family: Arial, sans-serif;
    color: var(--tobo-black);
    font-size: 2rem;
    font-weight: 700;
    vertical-align: 30%;
}

#logo_position {
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#site_main {
    background-color: var(--tobo-white);
    width: 80%;
    margin: 2rem auto;
}

#head_main {
    border-bottom: 1px solid var(--tobo-lightgrey);
}

.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-width: 0rem;
}

.task {
    background-color: var(--tobo-button);
    color: var(--tobo-white);
    margin-left: 2.5rem;
}

.section {
    background-color: var(--tobo-white);
    color: var(--tobo-grey);
    border: 1px solid var(--tobo-grey);
}