/*palette*/
:root {
    --tobo-green: #64C0A9;
    --tobo-button: #45ABEA;
    --tobo-dark: #474B54;

    --tobo-blu: #47ADF1;
    --tobo-violet: #9C72E4;
    --tobo-lime: #B0C926;
    --tobo-pink: #D863A1;
    --tobo-red: #EB5952;
    --tobo-orange: #F29E33;
    --tobo-lightgrey: #F6F8F9;
    --tobo-grey: #C5CBD0;
    --tobo-white: #FFFFFF;
    --tobo-black: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--tobo-lightgrey);
}

/*header*/
#site_header {
    background-color: var(--tobo-white);
}

.site_name {
    font-family: Arial, sans-serif;
    color: var(--tobo-black);
    font-size: 2rem;
    font-weight: 700;
    vertical-align: 30%;
}

#logo_position {
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*main*/
#site_main {
    background-color: var(--tobo-white);
    width: 80%;
    margin: 2rem auto;
}

#head_main {
    border-bottom: 1px solid var(--tobo-lightgrey);
}

.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-width: 0rem;
}

.task {
    background-color: var(--tobo-button);
    color: var(--tobo-white);
    margin-left: 2.5rem;
}

.section {
    background-color: var(--tobo-white);
    color: var(--tobo-grey);
    border: 1px solid var(--tobo-grey);
}

#body_main {
    padding: 2.5rem;
    font-family: Arial, sans-serif;
    color: var(--tobo-dark);
}

#new_task,
#today {
    margin-bottom: 2em;
}

/*symbols*/
.check {
    border: 1px solid var(--tobo-green);
    border-radius: 50%;
    color: var(--tobo-green);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-weight: 300;
}

.check_x {
    color: var(--tobo-red);
    border: 1px solid var(--tobo-red);
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/*button list settings*/
.button_list {
    border-radius: 0.8rem;
    border-width: 0rem;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--tobo-button);
    color: var(--tobo-white);
}

.violet {
    background-color: var(--tobo-violet);
}

.green {
    background-color: var(--tobo-green);
}

.orange {
    background-color: var(--tobo-orange);
}

.pink {
    background-color: var(--tobo-pink);
}

.lime {
    background-color: var(--tobo-lime);
}

footer>p {
    background-color: var(--tobo-white);
    font-family: Arial, sans-serif;
    text-align: center;
    color: var(--tobo-blu);
    padding-top: 2rem;
    padding-bottom: 2rem;
}