/*palette*/
:root {
    --tobo-green: #64C0A9;
    --tobo-button: #45ABEA;
    --tobo-dark: #474B54;
    --tobo-blu: #47ADF1;
    --tobo-violet: #9C72E4;
    --tobo-lime: #B0C926;
    --tobo-pink: #D863A1;
    --tobo-red: #EB5952;
    --tobo-orange: #F29E33;
    --tobo-white: #F6F8F9;
    --tobo-grey: #C5CBD0;
}